name: Build & Deploy AuthService

on:
  push:
    branches:
      - main
    paths:
      - 'src/AuthService/**'
      - '.github/workflows/authservice.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --configuration Release --no-restore

    - name: Publish AuthService
      run: dotnet publish ./src/AuthService/AuthService.API/AuthService.API.csproj -c Release -o ./publish --no-self-contained

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: mini-jira-auth-api
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./publish


