name: Build & Deploy TaskService

on:
  push:
    branches:
      - main
    paths:
      - 'src/TaskService/**'
      - '.github/workflows/taskservice.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish TaskService
      run: dotnet publish ./src/TaskService/TaskService.API/TaskService.API.csproj -c Release -o ./publish --no-self-contained

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: mini-jira-task-api   
        publish-profile: ${{ secrets.AZURE_TASKSERVICE_PUBLISH_PROFILE }}
        package: ./publish